@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?bag9bd');
  src:  url('../fonts/icomoon.eot?bag9bd#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?bag9bd') format('truetype'),
  url('../fonts/icomoon.woff?bag9bd') format('woff'),
  url('../fonts/icomoon.svg?bag9bd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\e901";
}
.icon-quote:before {
  content: "\e902";
}
.icon-checkmark:before {
  content: "\e903";
}
.icon-play:before {
  content: "\e904";
}
.icon-arrow-2:before {
  content: "\e905";
}
.icon-arrow:before {
  content: "\e906";
}
.icon-youtube:before {
  content: "\ea9d";
}
